@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap');

body {
  font-family: "IBM Plex Mono", "Helvetica", sans-serif;
  line-height: 1.5;
  background-color: #373737;
}

section {
  background-color: #eee;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 20px;
}

h1,
p,
ul {
	margin: 0;
}

h1,
footer p {
  color: #fff;
}

h2 {
	margin-top: 0;
}

header,
nav,
footer {
	background-color: #000;
}

header,
footer {
	grid-column: 1 / -1;
}

header,
nav,
section,
footer {
	padding: 10px;
}

nav li {
  list-style: none;
  padding: 20px;
  margin-right: 8px;
  text-transform: uppercase;
}

nav a,
nav a:link,
nav a:visited {
  color: #fff;
}

nav a:hover {
  color: #eee;
}

nav a:active {
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style-type: square;
}

figcaption {
  padding-top: 20px;
}
